html {
    body{
        #container {
            margin: 20px;
            padding: 20px;
            .justify {
                text-align: justify;
            }

            .barrer {
                text-decoration: line-through;
                font-weight: bold;
            }

            h1,h2,h3,h4,h5,h6 {
                text-transform: uppercase;
                text-decoration: underline;
                letter-spacing: 0.1rem;
            }

            
            h1 {
                font-size: 2em ;
            }
            h2 {
                font-size: 1.5em ;
            }
            h3 {
                font-size: 1.25em ;
            }

            p {
                line-height: 2rem;
                font-size: 1em;
                &:hover {
                    font-size: 2em;
                }
            }
        }
    }
}